@import "../../variables.scss";


.title-news-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

.title-news-content .news-title{
  color: black;
  font-weight: normal;
  margin-left: 0px;
  margin-bottom: 0px !important;
  margin-right: 15px;
}

.title-news-content .add{
  cursor: pointer;
  border: 1px solid $gray;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s;
}

.title-news-content .add span{
  margin-left: 8px;
  position: absolute;
  opacity: 0;
  z-index: -1000;
  margin-left: -15px;
  transition: all 0.5s;
}

.title-news-content .add:hover span{
  opacity: 1;
  z-index: 1;
  margin-left: 30px;
}


.newsContent{
  background-color: rgba(157, 157, 156, 0.5);
  margin-top: 150px;
  padding: 50px 10px;
}

.newsContent h1{
  color: black;
}

.newsCardsContent{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.newsCards{
  background-color: white;
  width: 250px;
  height: fit-content;
  margin-bottom: 30px;
}

.cardImage{
  position: relative;
  overflow: hidden;
  width: 250px;
  height: auto;
}

.cardImage img{
  max-width: 100%;
  max-height: 100% !important;
}

.cardContent{
  padding: 10px;
}

.cardContent a{
  text-align: center;
  background-color: $red;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px;
  color: white;
  transition: all 0.2s;
}

.cardContent a:hover{
  background-color: $light-red;
}

.cardImage .cliente{
  width: 250px;
  height: 100%;
  position: absolute;
  top: -200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.cardImage .cliente-millicom{
  background-color: #013478;
}

.cardImage .cliente-intervial{
  background-color: #0979D9;
}

.cardImage .cliente-ingredion{
  background-color: #5DA23D;
}

.cardImage:hover .cliente{
  top: 0;
}