@import "../../variables.scss";

.banner-container{
  width: 100%;
  height: 500px;
  background-image: url(https://secol.sharepoint.com/sites/Intranet/SiteAssets/IntranetSE/imagenes/banner-intranet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
}

.banner-container h1{
  color: $light-red;
  font-weight: bold;
  font-size: 60px;
  margin-left: 100px;
}

.banner-container .title{
  font-size: 55px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 0px !important;
}

.cualidades{
  color: red;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}